*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.wrap{
    margin:20px auto;
    padding:20px;
    width:50%;
    background-color:rgb(255, 212, 133);
    border:3px solid orange;
    border-radius:10px;
}
